body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
    background-image: url('../bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}  
.Left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}
.Left img {
    width: 50px;
    border-radius: 50px;
}
.Left div {
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    color: brown;
    font: style 25px;
}
.center {
    display: block;
    width: 40%;
    top: 30px;
    margin: 30px auto;
}
.right {
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 45px;
    color: white;
}

.navbar {
    display: inline-block;
}
.navbar li {
    display: inline-block;
    font-size: 25px;
}
.navbar li a {
    color: brown;
    text-decoration: none;
    padding: 35px 25px;
}
.navbar li a:hover,.navbar li a.active {
    text-decoration: underline;
    color: white;
}
.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0pt 10px;
    background-color: white;
    color: pink;
    padding: 5px 15px;
    border: 2px salmon;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.15s;
}
.btn:hover {
    background-color: pink;
    color: white;
}
.btn:active {
    opacity: 0.7;
}
.container {
    border: 2px solid salmon;
    margin: 80px;
    padding: 75px;
    width: 35%;
    border-radius: 20px;
}
.fgroup input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: block;
    width: 450px;
    padding: 2px;
    border: 2px solid saddlebrown;
    margin: 10px auto;
    font-size: 25px;
    border-radius: 10px;
}
.container h1 {
    text-align: center;
    color: rgb(13, 99, 70);
}
.container button {
    display: block;
    width: 75%;
    margin: 20px auto;
}
